article.board-container{
	h2{
		font-size: 2rem;
		font-weight: 500;
		letter-spacing: 1.25px;
		padding: 1rem 0;
	}

	.item{
		position: relative;
		padding: 1rem 1.5rem;
		box-shadow: 0 0 3px #bbb;
		margin-bottom: 1rem;
		&::before{
			content: attr(data-date);
			position: absolute;
			right: 0;
			top: 0;
			padding: 0.5rem;
			font-size: 0.75rem;
			opacity: 0.8;
		}

		.title{
			font-size: 1.5rem;
			font-weight: 500;
		}
		.description{
			padding: 0.5rem 0;
			font-size: 0.85rem;
		}
		.btn{
			font-size: 0.75rem;
			font-weight: 600;
		}

		.tags{
			margin-top: 0.5rem;
			display: flex;
			.tag{
				color: #9570d0;
				background: #efe5ff;
				padding: 0.25rem 0.5rem;
				border-radius: 5px;
				font-size: 0.75rem;
				margin-right: 0.5rem;
				&:last-child{ margin-right: 0; }
			}

		}
	}

}