.markdown-theme{
	width: 1200px;
	margin: 0 auto;

	p,ol,ul{
		line-height: 1.7;
	}

	h1,h2,h3,h4,h5,h6{
		a{ 
			float: left;
			display: inline-block;
			text-align: right;
			width: 20px;
			margin-left: -24px;
			visibility: hidden; 
			&:hover{ text-decoration: underline; }
		}
		&:hover a{ 
			visibility: visible; 
			color: #7a83ff;
		}
		margin-top: 1.5rem;
		margin-bottom: 1rem;
	}

	h1{
		font-size: 2.25rem;
		border-bottom: 1px solid #d8dee4;
		padding-bottom: 0.3rem;
		margin-bottom: 0.3rem;
	}
	h2{
		font-size: 2rem;
	}
	h3{
		font-size: 1.75rem;
	}
	h4{
		font-size: 1.5rem;
	}
	h5{
		font-size: 1.25rem;
	}
	h6{
		font-size: 1rem;
	}

	ul{ padding-left: 2rem; }
	li{ list-style:inherit; }

	hr{ border: 1px solid #d8dee4; }
	strong{ color: #9570d0; }

	p>code{
		font-size: 0.75rem;
		padding: 0.2rem 0.4rem;
		border-radius: 5px;
		color: #9570d0;
		background: #efe5ff;

	}
	p>a{
		font-size: 1rem;
		color: #7a83ff;
		&:hover{ text-decoration: underline; }
	}

	div[class*="language-"]{
		margin: 1.5rem 0 1rem;
		padding: 0.5rem 0.25rem;
		code,span{
			font-size: 0.75rem;
		}
	}
	pre>code{
		color: #fff;
		span{
			color: #fff;
		}
	}
}