body::-webkit-scrollbar{
	width: 8px;
}

::-webkit-scrollbar{
	width: 5px;
}
::-webkit-scrollbar-thumb{
	&:active{
		background: #878787;
	}
	border-radius: 10px;
	background: #cbcbcb;

}
::-webkit-scrollbar-track{	
	background: #ededed;
}