article.tag-container{
	margin-top: 1rem;
	padding: 1rem;
	background: #f7f3ff;
	border-radius: 5px;
	ul{
		display: flex;
		gap:1rem;
		li{ 
			 padding: 0.25rem 0.5rem; color: #9570d0; background: #efe5ff;  border-radius: 5px; font-size: 0.75rem; 
			 user-select: none;
			 cursor: pointer;
			 &.active{
			 	background: #61478b;
			 	color: #fff;
			 }
		}
	}
}